extends ./layouts/default

block title
    title Koa Douban 首页


block content
    .container
        .row
            .col-md-8
                h1 H1 #{you}
                p This is #{me}
            .col-md-4
                p 测试动态 PUG 模板引擎